﻿
@page "/CustomerOrders/{CustomerID}"
@using System.Net.Http
@using Newtonsoft.Json
@inject HttpClient Http



<table width="100%" style="background:#05163D;color:honeydew">
    <tr>
        <td width="20"> </td>
        <td>
            <h2 style="margin-top:8px"> Cusomer Orders Details</h2>
        </td>
        <td> </td>
    </tr>
</table>


<form style="margin-top:30px">
    <table class="table table-bordered" style="width:100%;vertical-align:middle;text-align:center;margin:20px 0px">
        @*<tr>
                <td> Order ID</td>
                <td><input type="text" class="form-control" @bind="@cusorder.CustOrderId" /></td>
                <td colspan="2">  <button type="submit" class="btn btn-success" @onclick="@(async () => await GetOrderDtails(cusorder.CustOrderId))" style="width:220px;">Validate</button></td>

            </tr>*@
        @if (cusorder != null)
        {

        <tr>
            <td><b>Customerr Name</b></td>
            <td>@cusorder.CustName</td>

            <td><b>Description</b></td>
            <td>Ordered 50 Laptops @cusorder.ProductType</td>

        </tr>
        <tr>
            <td><b>Invoice Number</b></td>
            <td>IV001</td>

            <td><b>Invoice Amount</b></td>
            <td>5000 USD @cusorder.InvoiceAmount</td>
        </tr>
        <tr>
            <td>Return Amount</td>
            <td> <input type="text" class="form-control" @bind="@cusorder.ReturnAmount" /></td>

            <td>Finace Approved</td>
            <td>
                <select @onchange="@onChange"  class="form-control">
                    <option></option>
                    <option value="Y">Approved</option>
                    <option value="N">Rejected</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <button type="submit" @onclick="@(async () => await UpdateDtails())" class="btn btn-success" style="width:220px;">Save</button>
            </td>
            
        </tr>
        }
    </table>
</form>


@if (orders != null)
{

    <table width="100%" style="background:#05163D;color:honeydew">
        <tr>
            <td width="20"> </td>
            <td>
                <h2 style="margin-top:8px"> Cusomer Orders</h2>
            </td>
            <td> </td>
        </tr>
    </table>

    <table class="table table-bordered" style="margin-top:30px">
        <thead>
            <tr>
                <th>Customerr Name</th>
                <th>Order ID</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Amount</th>
                <th>ExchangeStatus</th>
                <td>CreditStatus</td>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var orders in orders)
            {
                <tr>
                    <td>@orders.CustName</td>
                    <td>@orders.CustOrderId</td>
                    <td>
                        @if (orders.ProductType == "1")
                        {
                            @Laptop;
                        }
                        else
                        {
                            @Software;
                        }
                    </td>
                    <td>@orders.Quantity</td>
                    <td>@orders.InvoiceAmount</td>
                    <td>@orders.ExchangeStatus</td>
                    <td>@orders.CreditStatus</td>
                    <td><button type="submit" class="btn btn-primary" @onclick="@(async () => await GetOrderDtails(orders.CustOrderId))">Get Details</button></td>
                </tr>

            }

        </tbody>
    </table>
}
@code {
    [Parameter]
    public string CustomerID { get; set; }
    public string Laptop { get; set; }
    public string Software { get; set; }
    bool showDetails = false;

    private IssueCREandTrackStatus.Contracts.Models.CustOrderdVM[] orders;
    private IssueCREandTrackStatus.Contracts.Models.CustOrderdVM cusorder;
    private IssueCREandTrackStatus.Contracts.Models.CustOrderd CustOrderd;


    protected override async Task OnInitializedAsync()
    {
        Laptop = "Laptop";

        Software = "Software";
        showDetails = false;

        //cusorder = new IssueCREandTrackStatus.Contracts.Models.CustOrderdVM();

        //cusorder.CustOrderId = "A123456";

        if (CustomerID != "0")
        {

            var httpResponse = await Http.GetAsync("/api/CustomerOrders");

            if (httpResponse.IsSuccessStatusCode)
            {
                string strResponse = httpResponse.Content.ReadAsStringAsync().Result;
                orders = JsonConvert.DeserializeObject<IssueCREandTrackStatus.Contracts.Models.CustOrderdVM[]>(await httpResponse.Content.ReadAsStringAsync());
                //orders = orders.Where(or => or.CustId == CustomerID).ToArray();
            }

        }
        else
        {
            showDetails = true;

        }
    }


    protected async Task GetOrderDtails(string OrderId)
    {
        showDetails = true;
        var httpResponse = await Http.GetAsync("/api/CustomerOrders/" + OrderId);
        if (httpResponse.IsSuccessStatusCode)
        {
            string strResponse = httpResponse.Content.ReadAsStringAsync().Result;
            cusorder = JsonConvert.DeserializeObject<IssueCREandTrackStatus.Contracts.Models.CustOrderdVM>(await httpResponse.Content.ReadAsStringAsync());
        }
    }

    protected async Task UpdateDtails()
    {
        CustOrderd = new Contracts.Models.CustOrderd();

        CustOrderd.CustOrderId = cusorder.CustOrderId;
        CustOrderd.ExchangeStatus = cusorder.ExchangeStatus;
        CustOrderd.CreditStatus = cusorder.ExchangeStatus;

        string postData = JsonConvert.SerializeObject(CustOrderd);
        StringContent stringContent = new StringContent(postData);



        var inputMessage = new HttpRequestMessage

        {

            Content = new StringContent(postData, System.Text.Encoding.UTF8, "application/json")

        };



        inputMessage.Headers.Accept.Add(new System.Net.Http.Headers.MediaTypeWithQualityHeaderValue("application/json"));



        var message = await Http.PostAsync("/api/CustomerOrders/", inputMessage.Content);



        if (message.IsSuccessStatusCode)

        {

            var httpResponse = await Http.GetAsync("/api/CustomerOrders");

            if (httpResponse.IsSuccessStatusCode)
            {
                string strResponse = httpResponse.Content.ReadAsStringAsync().Result;
                orders = JsonConvert.DeserializeObject<IssueCREandTrackStatus.Contracts.Models.CustOrderdVM[]>(await httpResponse.Content.ReadAsStringAsync());
                //orders = orders.Where(or => or.CustId == CustomerID).ToArray();
            }

        }
    }

    private void onChange(Microsoft.AspNetCore.Components.ChangeEventArgs args)
    {
        var val = args.Value;
        cusorder.ExchangeStatus = val.ToString();
    }
}
