﻿
@page "/customer"
@using IssueCREandTrackStatus.Data;
@using IssueCREandTrackStatus.Contracts.Models;
@using System.Net.Http
@using Newtonsoft.Json
@inject HttpClient Http
@inject NavigationManager UriHelper
@inject IssueCREandTrackStatus.Data.GlobalVals localstorage;
@using System.Net.Http.Headers;


<table width="100%" style="background:#05163D;color:honeydew">
    <tr>
        <td width="20"> </td>
        <td>
            <h2 style="margin-top:8px">Customer Details</h2>
        </td>
        <td> </td>
        <td align="right">
            @*<button class="btn btn-info" @onclick="@AddNewCustomer">Validate Customer</button>*@
        </td>
        <td width="10"> </td>
    </tr>
    <tr>
        <td colspan="2"></td>
    </tr>
</table>
<hr />
@if (showAddrow == true)
{
    <form>
        <table class="table table-bordered" style="width:100%;vertical-align:middle;text-align:center;margin:20px 0px">
            <tr>
                <td>
                    <label for="Name" class="control-label"><b>Customer Code</b></label>
                </td>
                <td>
                    "@custObj.CustId  @*<input type="text" class="form-control" @bind="@custObj.CustCd" />*@
                </td>
                <td>
                    <label for="CustName" class="control-label"> <b>Customer Name</b></label>
                </td>
                <td>@custObj.CustName</td>
                @*<td>
                        <button type="submit" class="btn btn-success" @onclick="@(async () => await EditCustomer(custObj.CustCd))" style="width:220px;">Validate</button>
                    </td>*@
            </tr>
            <tr></tr>
            <tr>

                <td>
                    <label for="Email" class="control-label"> <b>Email</b></label>
                </td>
                <td>
                    @custObj.Email
                </td>
                <td>
                    <label for="Address" class="control-label"> <b>Address</b></label>
                </td>
                <td>
                    @custObj.Address
                </td>
            </tr>
            <tr>

                <td>
                    <label for="Name" class="control-label"> <b>Phone</b></label>
                </td>
                <td>
                    @custObj.PhoneNo"
                </td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </form>
}
<table width="100%" style="background:#0A2464;color:honeydew">
    <tr>
        <td width="20"> </td>
        <td>
            <h2 style="margin-top:8px">Customer List</h2>
        </td>

    </tr>
    <tr>
        <td colspan="2"></td>
    </tr>
</table>

@if (custs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-bordered" style="margin-top:30px">
        <thead>
            <tr>
                <th>Customer Code</th>
                <th>Customerr Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Inserted By</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cust in custs)
            {
                <tr>
                    <td>@cust.CustId</td>
                    <td>@cust.CustName</td>
                    <td>@cust.Email</td>
                    <td>@cust.PhoneNo</td>
                    <td>@cust.Address</td>
                    <td>@cust.InsertBy</td>
                    <td><button class="btn btn-primary" @onclick="@(async () => await EditCustomer(cust.CustId))" style="width:110px;">Get Details</button></td>
                    <td><button type="submit" class="btn btn-primary" @onclick="() =>CustomerOrders(cust.CustId)">Get Orders</button></td>
                </tr>

            }
        </tbody>
    </table>
}

@code {


    private IssueCREandTrackStatus.Contracts.Models.Customer[] custs;

    IssueCREandTrackStatus.Contracts.Models.Customer custObj = new IssueCREandTrackStatus.Contracts.Models.Customer();

    string ids = "0";
    bool showAddrow = false;

    bool loadFailed;

    protected override async Task OnInitializedAsync()
    {
        ids = "0";
        string jwttoken = localstorage.token;
        var req = new HttpRequestMessage(HttpMethod.Get, "/api/Customers/GetCustomer");
        req.Headers.Authorization = new AuthenticationHeaderValue("Bearer", jwttoken);
        using var response = await Http.SendAsync(req);

        if (response.IsSuccessStatusCode)
        {
            string strResponse = response.Content.ReadAsStringAsync().Result;
            custs = JsonConvert.DeserializeObject<IssueCREandTrackStatus.Contracts.Models.Customer[]>(await response.Content.ReadAsStringAsync());
        }
        else if (response.StatusCode.ToString()=="Forbidden")
        {
            UriHelper.NavigateTo("/unauthorized");

        }



        //Http.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", jwttoken);

        //var httpResponse = await Http.GetAsync("/api/Customers");

        //if (httpResponse.IsSuccessStatusCode)
        //{
        //    string strResponse = httpResponse.Content.ReadAsStringAsync().Result;
        //    custs = JsonConvert.DeserializeObject<IssueCREandTrackStatus.Contracts.Models.Customer[]>(await httpResponse.Content.ReadAsStringAsync());
        //}
    }

    void AddNewCustomer()
    {
        ids = "0";
        showAddrow = true;
        custObj = new IssueCREandTrackStatus.Contracts.Models.Customer();
    }
    // Add New Customer Details Method
    protected async Task AddCustomer()
    {
        showAddrow = true;
        loadFailed = false;
        string CustomerID = custObj.CustId;
        var httpResponse = await Http.GetAsync("/api/Customers/" + CustomerID);

        if (httpResponse.IsSuccessStatusCode)
        {
            string strResponse = httpResponse.Content.ReadAsStringAsync().Result;
            custObj = JsonConvert.DeserializeObject<IssueCREandTrackStatus.Contracts.Models.Customer>(await httpResponse.Content.ReadAsStringAsync());
        }
        string s = custObj.CustId;
        showAddrow = true;
    }
    // Edit Method
    protected async Task EditCustomer(string CustomerID)
    {
        showAddrow = true;
        loadFailed = false;
        ids = CustomerID.ToString();
        var httpResponse = await Http.GetAsync("/api/Customers/" + CustomerID);

        if (httpResponse.IsSuccessStatusCode)
        {
            string strResponse = httpResponse.Content.ReadAsStringAsync().Result;
            custObj = JsonConvert.DeserializeObject<IssueCREandTrackStatus.Contracts.Models.Customer>(await httpResponse.Content.ReadAsStringAsync());
        }
        string s = custObj.CustId;
        showAddrow = true;

    }

    void CustomerOrders(string CustomerID)
    {
        UriHelper.NavigateTo("CustomerOrders/" + "C001");
    }

}
