﻿@using Newtonsoft.Json
@inject HttpClient Http
@inject NavigationManager _navigationManager;
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage;
@inject IssueCREandTrackStatus.Data.GlobalVals localstorage; 
@page "/"



<div class="container h-100" style="margin-top:10%">
    <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">
            <div class="card h-100 border-primary justify-content-center">
                <h4 class="card-header">Login</h4>
                <div class="card-body">
                    <EditForm Model="@loginModel" OnValidSubmit="OnValidSubmit">
                        <DataAnnotationsValidator />
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" class="form-control" id="inputEmail" @bind="@loginModel.Email" />
                            <ValidationMessage For="@(() => loginModel.Email)" />
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" id="inputPassword" @bind="@loginModel.Password" />
                            <ValidationMessage For="@(() => loginModel.Password)" />
                        </div>
                        <button disabled="@loading" class="btn btn-primary">
                            @if (loading)
                            {
                                <span class="spinner-border spinner-border-sm mr-1"></span>
                            }
                            Login
                        </button>
                        @*<NavLink href="account/register" class="btn btn-link">Register</NavLink>*@
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>


@code {

}