﻿@page "/users"
@using System.Net.Http
@using Newtonsoft.Json
@inject HttpClient Http
@inject NavigationManager UriHelper
@inject IssueCREandTrackStatus.Data.GlobalVals localstorage;
@using System.Net.Http.Headers;

<table width="100%" style="background:#0A2464;color:honeydew">
    <tr>
        <td width="20"> </td>
        <td>
            <h2 style="margin-top:8px">Users List</h2>
        </td>

    </tr>
    <tr>
        <td colspan="2"></td>
    </tr>
</table>

@if (users != null)
{
    <table class="table table-bordered" style="margin-top:30px">
        <thead>
            <tr>
                <th>User Id</th>
                <th>User Name</th>
                <th>Login Id</th>
                <th>Password</th>
                <th>Address</th>
                <th>UserEmail</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.UserId</td>
                    <td>@user.UserName</td>
                    <td>@user.LoginId</td>
                    <td>@user.Password</td>
                    <td>@user.UserAddress</td>
                    <td>@user.UserEmail</td>
                </tr>

            }
        </tbody>
    </table>
}
    @code {

    }
