﻿@inherits LayoutComponentBase
@inject IssueCREandTrackStatus.Data.GlobalVals localstorage;
@inject NavigationManager UriHelper

@if (!string.IsNullOrEmpty(localstorage.UserName))
{
    <div class="sidebar">
        <NavMenu />
    </div>
}


<div class="main">
    @if (!string.IsNullOrEmpty(localstorage.UserName))
    {
        <div class="top-row px-4">
            <h2>Welcome @localstorage.UserName</h2>
            <button class="btn btn-primary" @onclick="@logout">  <span class="oi oi-power-standby" aria-hidden="true"></span></button>
        </div>
    }
    <div class="content px-4">
        @Body
    </div>
</div>

@code{
    public void logout()
    {
        localstorage.UserName = string.Empty;
        UriHelper.NavigateTo("/");
    }
}